<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VNPT-VNCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="icon" href="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-vnpt-inkythuatso-01-01-15-18-24.jpg" type="image/jpg">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script><script type="text/javascript" src="/TSPD/082d638fd6ab200068afd070d0c9498d3735077bd154b5d710f1da71d0c0218eaa4a750574ff5251?type=17"></script>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Global CSS -->
    <link rel="stylesheet" href="/Content/bootstrap-box.min.css">
    <link href="/Content/datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="/Content/font-awesome.css" rel="stylesheet">
    <link href="/Content/tn3/tn3.css" rel="stylesheet">
    <link href="/Content/styles-box.css" rel="stylesheet">
    <link href="/Content/custom.css" rel="stylesheet">


    <!-- Theme CSS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/Scripts/html5shiv.js"></script>
        <script src="/Scripts/respond.min.js"></script>
    <![endif]-->

</head>



<script type="text/javascript">
(function(){
window.mOqv=!!window.mOqv;try{(function(){(function(){var z={decrypt:function(z){try{return JSON.parse(function(z){z=z.split("l");var s="";for(var _=0;_<z.length;++_)s+=String.fromCharCode(z[_]);return s}(z))}catch(_){}}};return z={configuration:z.decrypt("123l34l97l99l116l105l118l101l34l58l34l110l111l34l44l34l100l101l98l117l103l103l105l110l103l34l58l34l110l111l34l44l34l109l111l100l117l108l101l49l34l58l34l101l110l97l98l108l101l100l34l44l34l109l111l100l117l108l101l50l34l58l34l101l110l97l98l108l101l100l34l44l34l109l111l100l117l108l101l51l34l58l34l101l110l97l98l108l101l100l34l44l34l109l111l100l117l108l101l52l34l58l34l101l110l97l98l108l101l100l34l125")}})();
var _z=34;try{var Iz,Jz,Lz=Z(42)?0:1,zZ=Z(423)?0:1,SZ=Z(26)?0:1,JS=Z(958)?0:1,LS=Z(712)?0:1,OS=Z(975)?0:1,Z_=Z(520)?0:1;for(var _Z=(Z(574),0);_Z<Jz;++_Z)Lz+=Z(453)?1:2,zZ+=(Z(556),2),SZ+=Z(503)?1:2,JS+=Z(178)?1:2,LS+=(Z(896),2),OS+=(Z(416),2),Z_+=Z(600)?1:3;Iz=Lz+zZ+SZ+JS+LS+OS+Z_;window.JI===Iz&&(window.JI=++Iz)}catch(JZ){window.JI=Iz}var LZ=!0;function I(z){var s=arguments.length,_=[],l=1;while(l<s)_[l-1]=arguments[l++]-z;return String.fromCharCode.apply(String,_)}
function oZ(z){var s=83;!z||document[I(s,201,188,198,188,181,188,191,188,199,204,166,199,180,199,184)]&&document[S(s,201,188,198,188,181,188,191,188,199,204,166,199,180,199,184)]!==J(68616527583,s)||(LZ=!1);return LZ}function J(z,s){z+=s;return z.toString(36)}function S(z){var s=arguments.length,_=[];for(var l=1;l<s;++l)_.push(arguments[l]-z);return String.fromCharCode.apply(String,_)}function zs(){}oZ(window[zs[S(_z,144,131,143,135)]]===zs);oZ(typeof ie9rgb4!==S(_z,136,151,144,133,150,139,145,144));
oZ(RegExp("\x3c")[J(1372171,_z)](function(){return"\x3c"})&!RegExp(J(42855,_z))[J(1372171,_z)](function(){return"'x3'+'d';"}));
var Zs=window[I(_z,131,150,150,131,133,138,103,152,135,144,150)]||RegExp(I(_z,143,145,132,139,158,131,144,134,148,145,139,134),I(_z,139))[S(_z,150,135,149,150)](window["\x6e\x61vi\x67a\x74\x6f\x72"]["\x75\x73e\x72A\x67\x65\x6et"]),_s=+new Date+(Z(316)?351419:6E5),is,Is,Js,ls=window[I(_z,149,135,150,118,139,143,135,145,151,150)],Os=Zs?Z(749)?33111:3E4:Z(356)?3675:6E3;
document[S(_z,131,134,134,103,152,135,144,150,110,139,149,150,135,144,135,148)]&&document[S(_z,131,134,134,103,152,135,144,150,110,139,149,150,135,144,135,148)](I(_z,152,139,149,139,132,139,142,139,150,155,133,138,131,144,137,135),function(z){var s=63;document[S(s,181,168,178,168,161,168,171,168,179,184,146,179,160,179,164)]&&(document[I(s,181,168,178,168,161,168,171,168,179,184,146,179,160,179,164)]===J(1058781920,s)&&z[I(s,168,178,147,177,180,178,179,164,163)]?Js=!0:document[S(s,181,168,178,168,
161,168,171,168,179,184,146,179,160,179,164)]===S(s,181,168,178,168,161,171,164)&&(is=+new Date,Js=!1,ZS()))});function ZS(){if(!document[I(56,169,173,157,170,177,139,157,164,157,155,172,167,170)])return!0;var z=+new Date;if(z>_s&&(Z(164)?881496:6E5)>z-is)return oZ(!1);var s=oZ(Is&&!Js&&is+Os<z);is=z;Is||(Is=!0,ls(function(){Is=!1},Z(521)?0:1));return s}ZS();var sS=[Z(606)?17735832:17795081,Z(762)?2147483647:27611931586,Z(362)?968273035:1558153217];
function _S(z){var s=8;z=typeof z===I(s,123,124,122,113,118,111)?z:z[S(s,124,119,91,124,122,113,118,111)](Z(379)?47:36);var _=window[z];if(!_||!_[I(s,124,119,91,124,122,113,118,111)])return;var l=""+_;window[z]=function(z,s){Is=!1;return _(z,s)};window[z][I(s,124,119,91,124,122,113,118,111)]=function(){return l}}for(var iS=(Z(530),0);iS<sS[J(1294399171,_z)];++iS)_S(sS[iS]);oZ(!1!==window[S(_z,143,113,147,152)]);window.oi=window.oi||{};window.oi.jSs="082a8752ac16e8008f1af511cfae32ba2757a2bdab2027b75662bb1e1d4d96f0c3583f705708eb03b0404aceb9ea58e781f80cfda74a4034f64db698fc93f8ebc327423b39ef2adfde70d150038de6bf9faf5a91c8ac76532d20dfdd1e219872762e00d9195f9620167b8847412d62f88691ed73087b4a55b825fccbd32ada94d30d7556ad167c859b7fb2bd7d1f03e465db52e8c6c5301c704aff66558234a5b10cfc55f43c234176c8f9552e7304f10d3593481935d5645b2f3654b990488fe1481ef9ab32b60529dc3172ae86bc812abd343cd3c626ba213d4915955f4aac9157c7199af61f6f9f1ae24c7b9483d1";
function IS(z){var s=+new Date,_;!document[I(90,203,207,191,204,211,173,191,198,191,189,206,201,204,155,198,198)]||s>_s&&(Z(587)?485985:6E5)>s-is?_=oZ(!1):(_=oZ(Is&&!Js&&is+Os<s),is=s,Is||(Is=!0,ls(function(){Is=!1},Z(961)?0:1)));return!(arguments[z]^_)}function Z(z){return 13>z}(function s_(s){s&&"number"!==typeof s||("number"!==typeof s&&(s=1E3),s=Math.max(s,1),setInterval(function(){s_(s-10)},s))})(!0);})();}catch(x){}finally{ie9rgb4=void(0);};function ie9rgb4(a,b){return a>>b>>0};

})();

</script>
</APM_DO_NOT_TOUCH>

 
<body>
    <header>
       
    <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #FFFFFF;
            -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
            border: 1px solid #D8D8D8;
        }

        ::-webkit-scrollbar-thumb {
            background: #36b8ec;
            -webkit-box-shadow: inset 1px 1px 2px rgba(155,155,155,0.4);
        }

            ::-webkit-scrollbar-thumb:hover {
                -webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);
            }

            ::-webkit-scrollbar-thumb:active {
                background: #888;
                -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
            }
    </style>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 app-navbar">
            <div class="container">
                    <div class="TopBanner"><div class="TopBar" id="TopBar"><div border="0" cellpadding="0" cellspacing="0" width="100%"><div><div id="1" resizable="no" valign="top">
@* <div class="SingleSearch">
    <div class="SearchBox">
        <input name="ctrl_147164_45$txtSearch" type="text" id="ctrl_147164_45_txtSearch" class="Text">
        <a id="ctrl_147164_45_lnkSearch" class="Button" href="javascript:__doPostBack('ctrl_147164_45$lnkSearch','')"></a>
    </div> *@
</div>
<script type="text/javascript">$(document).ready(function () { function EnterEvent(e) { if (e.keyCode === 13) $('.Button').click(); } });</script>

<div class="UIBannerControl">
    <a href="/"><img alt="" src="https://storage-vnportal.vnpt.vn/sme-g1/sitefolders/ttytykdemo/4716/banner/-ttytvungtau-banner.png"></a>
</div>

<style>
    li.LanguageMenu {
        cursor: pointer;
    }
</style>
<div class="DropdownMenu">
    <ul class="MenuList">
        <li class="TopMenuActive" style="display:block"><a href="https://ttytvungtau-soyte.baria-vungtau.gov.vn/" class="HasChildren"><img src="https://storage-vnportal.vnpt.vn/sme-g1/sitefolders/ttytykdemo/4716/banner/homepng.png" class="image"><span class="trang-chu-59130">Trang chủ</span></a>
        @* <li class="TopMenu" style="display:block"><a asp-area="Blog" asp-controller="ViewPost" asp-action="Index" class="HasChildren"><span class="tin-tuc-59175">Tin tức</span></a> *@
        <li class="TopMenu" style="display:block"><a asp-area="Product" asp-controller="ViewProduct" asp-action="Index" class="HasChildren"><span class="van-ban-59181">Thông Tin Đấu Thầu</span></a>
        @* <li class="TopMenu" style="display:block"><a  asp-area="ThongTinNhaThau" asp-controller="/trangthongtin" >Trang đấu thầu</a> *@
        @* <li class="TopMenu" style="display:block"><a  asp-area="Contact" asp-controller="Contact" asp-action="SendContact" class="HasChildren"><span class="lien-he-hoi-dap-59171">Liên hệ - Hỏi đáp</span></a> *@
       @* <li class="TopMenu" style="display:block"><a href="/goc-hoc-tap" class="HasChildren"><span class="goc-hoc-tap-59191">Góc học tập</span></a> *@
    
<div class="navbar-button" onclick="onToggleNavbar()"><span></span><span></span><span></span></div><div class="navbar-overlay"></div></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.language-button').on('click', function () {
            var language_code = $(this).data('language-code');
            var language_seo = $(this).data('language-seo');
            document.cookie = "lang=" + language_code + "; path=/";
            location.href = language_seo;
        });

        var value = getCookie("lang");
        $('.language-button').each(function () {
            if ($(this).data('language-code') == value) {
                $(this).css({
                    padding: "2px",
                    borderBottom: "2px solid #ffeb3b"
                });
            }
        })
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
</div></div></div><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td style="width:199px;" id="1" resizable="true" valign="top">
<div class="UIClockSystem">
    <span class="clock">Thứ 5, 7/9/2023, 10:12:55 AM</span>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            var days = new Array("Chủ nhật", "Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7");
            var months = new Array("1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12");
            var am_pm;
            var d = new Date();
            var s = d.getSeconds();
            var m = d.getMinutes();
            var h = d.getHours();
            var day = d.getDay();
            var date = d.getDate();
            var month = d.getMonth();
            var year = d.getFullYear();
            if (s < 10) { s = "0" + s }
            if (m < 10) { m = "0" + m }
            if (h > 12)
            { h -= 12; am_pm = "PM" }
            else { am_pm = "AM" }
            if (h < 10) { h = "0" + h }
            //alert(days[day]);
            $(".clock").text(days[day] + ', ' + date + "/" + months[month] + '/' + year + ', ' + h + ':' + m + ':' + s + ' ' + am_pm);
        }, 1000);
    });
</script></td><td id="2" valign="top" resizable="true" style="width:9px;"></td><td id="3" valign="top">
<div class="MultiFunctionControl">
    <marquee behavior="scroll" direction="left"><span"><strong><span style="line-height: 43px; font-size: 13px; color: #ce1126;">Văn Minh-Thân Thiện</span></strong></span"></marquee>
</div>
</td></tr></tbody></table></div></div>




                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VNPT-VNCare</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Blog" asp-controller="ViewPost" asp-action="Index">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Product" asp-controller="ViewProduct" asp-action="Index">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
  
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Contact" asp-controller="Contact" asp-action="SendContact">
                                <i class="fas fa-phone-alt"></i>
                                Liên hệ</a>
                        </li>                        
                    </ul>
                    @await Html.PartialAsync("_CartPartial")
                    <partial name="_LoginPartial" />
                    <partial name="_MenuManagePartial" />
                    


                    
                </div> *@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color: #0779c9">
        <div class="container">
                  <div style="text-align: center;"><strong style="font-size: 9pt;">TRANG THÔNG TIN ĐIỆN TỬ</strong></div>
                    <div style="font-weight: bold; text-align: center;"><strong style="font-size: 9pt;">TRUNG TÂM Y TẾ THÀNH PHỐ VŨNG TÀU</strong></div>
                    <div style="text-align: center;">&nbsp;</div>
                    <div style="text-align: center;"><span style="font-size: 9pt;">Cơ quan chủ quản: Sở Y tế tỉnh Bà Rịa - Vũng Tàu</span></div>
                    <div style="text-align: center;"><span style="font-size: 9pt;">Địa chỉ: 278 Lê Lợi, Phường 7, Thành phố Vũng Tàu, tỉnh Bà Rịa - Vũng Tàu&nbsp;</span></div>
                    <div style="text-align: center;"><span style="font-size: 9pt;">&nbsp;</span><span style="font-size: 9pt;">Điện thoại: 0254 3838 348 - Fax: <span style="text-align: center;">0254 3838 348</span></span></div>
                    <div style="text-align: center;"><span style="font-size: 9pt; text-align: center;">&nbsp;</span><span style="font-size: 9pt;">Ghi rõ nguồn:&nbsp;http://ttytvungtau-soyte.baria-vungtau.gov.vn khi sử dụng thông tin trên Trang thông tin này. <a href="http://comtamvungtau.com/login">Quản trị</a></span></div>
        </div>
    </footer> 

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
