@{
    ViewData["Title"] = "Đấu Thầu";
    Layout =  "/Views/Shared/_Layout.cshtml";
    
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>

<script>  
$(function ()  
{  
    $('#txtDatePicker').datepicker(  
    {  
        dateFormat: 'dd/mm/yy',  
        changeMonth: true,  
        changeYear: true,  
        yearRange: '1950:2100'  
    });  
})  
</script>

<script type="text/javascript" src="/TSPD/082d638fd6ab200068afd070d0c9498d3735077bd154b5d710f1da71d0c0218eaa4a750574ff5251?type=17"></script>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Global CSS -->
    <link rel="stylesheet" href="/Content/bootstrap-box.min.css">
    <link href="/Content/datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="/Content/font-awesome.css" rel="stylesheet">
    <link href="/Content/tn3/tn3.css" rel="stylesheet">
    <link href="/Content/styles-box.css" rel="stylesheet">
    <link href="/Content/custom.css" rel="stylesheet">


    <!-- Theme CSS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/Scripts/html5shiv.js"></script>
        <script src="/Scripts/respond.min.js"></script>
    <![endif]-->

</head>

<body class="home-page boxed">
    <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-track {
            background: #FFFFFF;
            -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
            border: 1px solid #D8D8D8;
        }

        ::-webkit-scrollbar-thumb {
            background: #36b8ec;
            -webkit-box-shadow: inset 1px 1px 2px rgba(155,155,155,0.4);
        }

            ::-webkit-scrollbar-thumb:hover {
                -webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);
            }

            ::-webkit-scrollbar-thumb:active {
                background: #888;
                -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
            }
    </style>
 

<section class="events list" style="padding:15px;">
    <div class="col-md-12 col-xs-12">
        <div class="form-group">
        </div>
    </div>
        <h1 class="trangdauthau" style="text-align: center; color: #d24400"><span>TRANG ĐẤU THẦU</span></h1>
        <h1 class="line" style="margin:0px;color:#d24400"><span>TH&#212;NG TIN VỀ KẾ HOẠCH MUA SẮM</span></h1>
<form action="/trangthongtin" class="formMCG" enctype="multipart/form-data" method="post"><input name="__RequestVerificationToken" type="hidden" value="jEkcbNpYnZRlnShFoiaj27ah8XUCYIKQ8kFVXtYpUyWsut5q-PLq2UpasaUWus2nqyQaYq0q6DFiFpuRjB7KmbI6Lgbeaq9wkqjQaNBaQHM1" /><div class="form-horizontal">
    <input data-val="true" data-val-number="The field DTMCGThongTinNhaThauId must be a number." data-val-required="The DTMCGThongTinNhaThauId field is required." id="DTMCGThongTinNhaThauId" name="DTMCGThongTinNhaThauId" type="hidden" value="0" />
    <input data-val="true" data-val-required="Bắt buộc có" id="GuidTTNT" name="GuidTTNT" type="hidden" value="ec793f79f6464aa4b25af9e5e4700964" />
    <input id="SecretCode" name="SecretCode" type="hidden" value="dffc45" />
    <input data-val="true" data-val-number="The field Mẫu mời chào giá(*): must be a number." data-val-required="Mẫu mời chào giá bắt buộc có" id="DTMCGMauMCGId" name="DTMCGMauMCGId" type="hidden" value="458" />
    <input id="GuidMauMCG" name="GuidMauMCG" type="hidden" value="ef2adf0cb712483aac74f26a43e1b852" />
    <input data-val="true" data-val-date="The field Created must be a date." data-val-required="The Created field is required." id="Created" name="Created" type="hidden" value="24/08/2023 14:37:08" />
    <input data-val="true" data-val-date="The field Updated must be a date." data-val-required="The Updated field is required." id="Updated" name="Updated" type="hidden" value="24/08/2023 14:37:08" />
    <input data-val="true" data-val-number="The field Status must be a number." data-val-required="The Status field is required." id="Status" name="Status" type="hidden" value="2" />
    <br />
    <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" style="text-align:left;">Tên dự toán mua sắm(*): </label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="@(ViewBag.Product.Title ?? String.Empty)" name="Ten">
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" style="text-align:left;">Năm(*): </label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="2023" name="Nam">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" style="text-align:left;">Phân loại (*): </label>
                <div class="col-md-6">
                    <select id="PhanLoai" name="PhanLoai" class="form-control">
                            <option value="0">Chọn phân loại</option>
                        <option value="1" selected=&quot;selected&quot;>Hàng hóa thông thường</option>
                        <option value="2" >Máy móc,linh kiện</option>
                        <option value="3" >Vật tư</option>
                        <option value="4" >Hóa chất</option>
                        <option value="5" >Dịch vụ</option>
                        <option value="6" >Thuốc</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" style="text-align:left;">Người liên hệ (*): </label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value=""  name="NguoiLH">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" style="text-align:left;">Điện thoại liên hệ (*): </label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value=" "  name="DT">
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" style="text-align:left;">Email liên hệ  (*): </label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value=""  name="Email">
                </div>
            </div>
        </div>
    </div>
    <br />
    <h1 class="line" style="margin:0px;color:#d24400"><span>PHẦN CH&#192;O GI&#193; CỦA NH&#192; THẦU</span></h1>

    <br />

    <div class="form-group">
        <label class="col-md-12" style="color:#b94a48">Các trường có dấu (*) bắt buộc nhập.</label>
    </div>
    <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" for="TenCongTy" style="text-align:left;">T&#234;n nh&#224; thầu (*): </label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="Bắt buộc nhập" id="TenCongTy" name="TenNhaThau" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="TenCongTy" data-valmsg-replace="true" ></span>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" for="MaSoDoanhNghiep" style="text-align:left;">M&#227; số doanh nghiệp (*): </label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="Bắt buộc nhập" id="MaST" name="MaST" type="text" value=""  name="MaST"/>
                    <span class="field-validation-valid" data-valmsg-for="MaSoDoanhNghiep" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" for="NguoiLH" style="text-align:left;">Người li&#234;n hệ (*): </label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="Bắt buộc nhập" id="NguoiLH" name="NguoiLH" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="NguoiLH" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" for="DienThoaiLienHe" style="text-align:left;">Điện thoại li&#234;n hệ (*): </label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="Bắt buộc nhập" id="DT" name="DT" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="DienThoaiLienHe" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div> 
    <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right: 10px;">
        <div class="form-group">
            <label class="control-label col-md-6" for="NgayCapNhat" style="text-align:left;">Ngày (*): </label>
            <div class="col-md-6">
                <input class="form-control" data-val="true" data-val-required="Bắt buộc nhập" id="txtDatePicker" name="Ngay" type="date" value=""  />
                <span class="field-validation-valid" data-valmsg-for="NgayCapNhat" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>  
    </div>
    </div>
    <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" for="EmailLienHe" style="text-align:left;">Email li&#234;n hệ (*): </label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="Bắt buộc nhập" id="Email" name="Email" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="EmailLienHe" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right:10px;">
            &nbsp;
        </div>
    </div>
    @*Upload PDF*@
    <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" for="FileScanBaoGiaDongDau" style="text-align:left;">File scan b&#225;o gi&#225;, c&#243; k&#253; t&#234;n, đ&#243;ng dấu (*): </label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="Bắt buộc nhập" id="BangBaoGia" name="BangBaoGia" readonly="readonly" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="FileScanBaoGiaDongDau" data-valmsg-replace="true"></span>

                </div>
            </div>
        </div>
       <div class="col-md-6" style="padding-right:10px;">
        <form enctype="multipart/form-data" action="/api/PdfUpload/upload" method="post">
            <div class="form-group">
                <input type="file" name="pdfFile" accept="application/pdf" class="form-control" id="fileUploadPdf">
            </div>
        </form>
    </div>
    </div>
    @*Upload XML*@
    <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" for="FileBaoGia" style="text-align:left;">Bảng ch&#224;o gi&#225; của nh&#224; thầu (*): </label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="Bắt buộc nhập" id="FileBaoGia" name="FileBaoGia" readonly="readonly" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="FileBaoGia" data-valmsg-replace="true"></span>

                </div>
            </div>
        </div>
        <div class="col-md-2" style="padding-right:10px;">
            <div class="form-group">
                <button type="" class="btn btn-primary btnBieuMauTaiXuong"><span class="glyphicon glyphicon-download">&nbsp;</span>Biểu mẫu tải xuống</button>
            </div>
        </div>
        <div class="col-md-4" style="padding-right:10px;">
            <div class="form-group">
                <input type="file" id="fileUploadXLS" accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' class="form-control" />
            </div>
        </div>
    </div>
     @*Upload ZIP*@
    @* <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" for="FileZipDinhKem" style="text-align:left;">File hồ sơ kỹ thuật, file kh&#225;c (.zip): </label>
                <div class="col-md-6">
                    <input class="form-control" id="HSKhac" name="HSKhac" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="FileZipDinhKem" data-valmsg-replace="true"></span>

                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <input type="file" id="fileUploadZip" accept="application/zip,application/x-zip,application/x-zip-compressed" class="form-control" />
            </div>
        </div>
    </div> *@
     <div class="col-md-12 col-xs-12">
        <div class="col-md-6" style="padding-right:10px;">
            <div class="form-group">
                <label class="control-label col-md-6" for="FileScanBaoGiaDongDau" style="text-align:left;">File hồ sơ kỹ thuật, file kh&#225;c (.zip):(*): </label>
                <div class="col-md-6">
                    <input class="form-control" data-val="true" data-val-required="Bắt buộc nhập" id="HSKhac" name="HSKhac" readonly="readonly" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="FileScanBaoGiaDongDau" data-valmsg-replace="true"></span>

                </div>
            </div>
        </div>
       <div class="col-md-6" style="padding-right:10px;">
        <form enctype="multipart/form-data" action="/api/PdfUpload/upload" method="post">
            <div class="form-group">
                <input type="file" name="pdfFile" accept="application/pdf" class="form-control" id="fileUploadPdf">
            </div>
        </form>
    </div>
    </div>
    
    <div class="col-md-12 col-xs-12">
        <table class="table" id="FilesList" border="1">

            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 col-xs-12">
        <div id="excel_data">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="Lưu thông tin" class="btn btn-primary" id="CGNTSaveData" />
        </div>
    </div>
</div>
</form></section>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


                </div>
            </div>
            <div class="col-md-12 col-sm-12 main-content-no-right-content" id="main-content-no-right-content">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ******FOOTER****** -->
    </footer>
    <!-- slidebar right -->
    <!-- *****CONFIGURE STYLE****** -->
    <!-- end slidebar right -->
    <!--//footer-->
    <script language="javascript">
        function ClickWebsiteLink(oSelect) {
            try {
                var index = oSelect.selectedIndex;
                if (index >= 0) {
                    var url = oSelect.options[index].value;
                    if (url != "") {
                        window.open(url, "LinkWin");
                    }
                }
            } catch (e) { }
        }
        function ClickWebsiteLinkSelf(oSelect) {
            try {
                var index = oSelect.selectedIndex;
                if (index >= 0) {
                    var url = oSelect.options[index].value;
                    if (url != "") {
                        window.open(url, "_self");
                    }
                }
            } catch (e) { }
        }
    </script>

    <!-- Javascript -->
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>

    <script src="/Content/datepicker/js/moment.js" type="text/javascript"></script>
    <script src="/Content/datepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/Scripts/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/Scripts/back-to-top.js"></script>

    <script src="/Content/js/jquery.my_eislideshow.js" type="text/javascript"></script>
    <script src="/Scripts/jwplayer/jwplayer.js" type="text/javascript"></script>
    <script src="/Scripts/jwplayer/jwplayer.html5.js" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(function () {
            jQuery('#ei-slider').eislideshow({
                animation: 'center',
                autoplay: true,
                slideshow_interval: 10000,
                speed: 1000,
                titlesFactor: 0.60,
                titlespeed: 1000,
                thumbMaxWidth: 0
            });
        });

        var site = site || {};
        site.baseUrl = site.baseUrl || "";

        $(document).ready(function (e) {
            // locate each partial section.
            // if it has a URL set, load the contents into the area.

            $(".partialContents").each(function (index, item) {
                var url = site.baseUrl + $(item).data("url");
                if (url && url.length > 0) {
                    $(item).load(url);
                }
            });

            // DEMO ONLY - JUST IGNORE
            // Just to make the loading time obvious....
            $("a .home-page").click(function () {
                $("body").html("");
            });



            //facebook
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=1436550516658040";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        });
    </script>
<script>
    document.getElementById("fileUploadPdf").addEventListener("change", function () { //fileUpload
        var fileInput = document.getElementById("fileUploadPdf");
        var fileNameDisplay = document.getElementById("BangBaoGia");

        if (fileInput.files.length > 0) {
            fileNameDisplay.value = fileInput.files[0].name;
        } else {
            fileNameDisplay.value = "";
        }
    });
</script>


    
    
    <script type="text/javascript" src="/Content/Xlsx/xlsx.full.min.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>

    <script type="text/javascript">
        var urlUpload = "/api/FileUpload/upload"
        var saveUrl = '/DTCGNT/CreateCGNT';

        const excel_file = document.getElementById('fileUploadXLS');

        excel_file.addEventListener('change', (event) => {
            if (!['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'].includes(event.target.files[0].type)) {
                document.getElementById('excel_data').innerHTML = '<div class="alert alert-danger">Only .xlsx or .xls file format are allowed</div>';

                excel_file.value = '';

                return false;
            }

            var reader = new FileReader();
            
            reader.readAsArrayBuffer(event.target.files[0]);

            reader.onload = function (event) {

                var data = new Uint8Array(reader.result);

                var work_book = XLSX.read(data, { type: 'array' });

                var sheet_name = work_book.SheetNames;

                var sheet_data = XLSX.utils.sheet_to_json(work_book.Sheets[sheet_name[0]], { header: 1 });
                console.log('sheet_data: ' + sheet_data);
                console.log('dong_sheet_data_length: ' + sheet_data.length);
                var numCol = 0;

                if (sheet_data.length > 0) {
                    var table_output = '<table class="table table-striped table-bordered">';

                    numCol = sheet_data[1].length;
                    for (var row = 1; row < sheet_data.length; row++) {
                        table_output += '<tr>';
                        for (var cell = 0; cell < numCol; cell++) {
                            if (row == 0) {
                                table_output += '<th>' + sheet_data[row][cell] + '</th>';
                            }
                            else {
                                console.log('giá trị cot: ' + sheet_data[row][cell]);
                                if (sheet_data[row][cell] == undefined) {
                                    table_output += '<td></td>';
                                } else {
                                    table_output += '<td>' + sheet_data[row][cell] + '</td>';
                                }
                            }
                        }
                        table_output += '</tr>';
                    }
                    table_output += '</table>';
                    document.getElementById('excel_data').innerHTML = table_output;
                }
                excel_file.value = '';
            }

        });


        $(document).ready(function () {
            $("#fileUploadPdf").on("change", function () {
                var files = $(this).get(0).files;
                var formData = new FormData();
                var urlUpload = "/api/FileUpload/upload"  //;"@Url.Action("UploadPhotoApi")";
                //var files = document.getElementById('fileInput');
                //Iterating through each files selected in fileInput
                for (i = 0; i < files.length; i++) {

                    var sfilename = files[i].name;
                    let srandomid = Math.random().toString(36).substring(7);
                    formData.append('file',files[i])
                    formData.append(sfilename, files[i]);
                    formData.append('guidTTNT', $('#GuidTTNT').val());
                }

                uploadFilePDF(formData);

                chkatchtbl();
                $('#fileUploadPdf').val('');

            });
            $("#fileUploadXLS").on("change", function () {
                var files = $(this).get(0).files;
                var formData = new FormData();
                var urlUpload = "/api/FileUpload/upload"//"@Url.Action("UploadPhotoApi")";
                //var files = document.getElementById('fileInput');
                //Iterating through each files selected in fileInput
                for (i = 0; i < files.length; i++) {

                    var sfilename = files[i].name;
                    let srandomid = Math.random().toString(36).substring(7);
                    formData.append('file',files[i])
                    formData.append(sfilename, files[i]);
                    formData.append('guidTTNT', $('#GuidTTNT').val());
                }

                uploadFileXLS(formData);

                chkatchtbl();
                $('#fileUploadXLS').val('');

            });

            $("#fileUploadZip").on("change", function () {
                var files = $(this).get(0).files;
                var formData = new FormData();
                var urlUpload = "/api/FileUpload/upload"//"@Url.Action("UploadPhotoApi")";
                //var files = document.getElementById('fileInput');
                //Iterating through each files selected in fileInput
                for (i = 0; i < files.length; i++) {

                    var sfilename = files[i].name;
                    let srandomid = Math.random().toString(36).substring(7);
                    formData.append('file',files[i])
                    formData.append(sfilename, files[i]);
                    formData.append('guidTTNT', $('#GuidTTNT').val());
                }

                uploadFileZip(formData);

                $('#fileUploadZip').val('');

            });

            function uploadFilePDF(formData) {

                $.ajax({
                    url: urlUpload,
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var str = "";
                        $('#FileScanBaoGiaDongDau').val(data);
                        console.log('FileScanBaoGiaDongDau: ' + $('#FileScanBaoGiaDongDau').val());
                        for (var i = 0; i < data.length; i++) {
                            str += "<img src='" + data[i] + "' height='100' width='100'>"
                        }

                        $(".file-upload-container").append(str);
                    },
                    error: function (data) {
                        alert("Upload Failed!");
                    }
                })
            }

            function uploadFileXLS(formData) {

                $.ajax({
                    url: urlUpload,
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var str = "";
                        $('#FileBaoGia').val(data);
                        console.log('FileBaoGia: ' + $('#FileBaoGia').val());
                        for (var i = 0; i < data.length; i++) {
                            str += "<img src='" + data[i] + "' height='100' width='100'>"
                        }

                        $(".file-upload-container").append(str);
                    },
                    error: function (data) {
                        alert("Upload Failed!");
                    }
                })
            }

            function uploadFileZip(formData) {

                $.ajax({
                    url: urlUpload,
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var str = "";
                        $('#FileZipDinhKem').val(data);
                        console.log('FileZipDinhKem: ' + $('#FileZipDinhKem').val());
                        for (var i = 0; i < data.length; i++) {
                            str += "<img src='" + data[i] + "' height='100' width='100'>"
                        }
                        
                        $(".file-upload-container").append(str);
                    },
                    error: function (data) {
                        alert("Upload Failed!");
                    }
                })
            }

            $("#btnupload").click(function () {
                formdata.append('uploadername', $('#txtuploader').val());
                $.ajax({
                    url: urlUpload,
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: formdata,
                    async: false,
                    success: function (result) {
                        if (result != "") {
                            alert(result);
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            });
        });
        function DeleteFile(Fileid, FileName) {
            formdata.delete(FileName)
            $("#" + Fileid).remove();
        }

        $('.btnBieuMauTaiXuong').click(function (event) {
            event.preventDefault();
            var guidMCG = document.getElementById('GuidMauMCG').value;
            window.location.href = "/DTCGNT/SaveFileByGuidMCG?gui=" + guidMCG;
        });

        function chkatchtbl() {
            if ($('#FilesList tr').length > 1) {
                $("#FilesList").css("visibility", "visible");
            } else {
                $("#FilesList").css("visibility", "hidden");
            }
        }

        $.fn.serializeObject = function () {
            var o = {};
            //    var a = this.serializeArray();
            $(this).find('input[type="hidden"], input[type="text"], input[type="password"], input[type="checkbox"]:checked, input[type="radio"]:checked, select').each(function () {
                if ($(this).attr('type') == 'hidden') { //if checkbox is checked do not take the hidden field
                    var $parent = $(this).parent();
                    var $chb = $parent.find('input[type="checkbox"][name="' + this.name.replace(/\[/g, '\[').replace(/\]/g, '\]') + '"]');
                    if ($chb != null) {
                        if ($chb.prop('checked')) return;
                    }
                }
                if (this.name === null || this.name === undefined || this.name === '')
                    return;
                var elemValue = null;
                if ($(this).is('select'))
                    elemValue = $(this).find('option:selected').val();
                else elemValue = this.value;
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(elemValue || '');
                } else {
                    o[this.name] = elemValue || '';
                }
            });
            return o;
        }

        //$.fn.serializeObject = function () {
        //    var o = {};
        //    var a = this.serializeArray();
        //    $.each(a, function () {
        //        if (o[this.name] !== undefined) {
        //            if (!o[this.name].push) {
        //                o[this.name] = [o[this.name]];
        //            }
        //            o[this.name].push(this.value || '');
        //        } else {
        //            o[this.name] = this.value || '';
        //        }
        //    });
        //    return o;
        //};
    </script>

</body>


<script id="f5_cspm">(function(){var f5_cspm={f5_p:'MLJGNDBCEKDBACMFHHKKFMNEAFOCMKNLCDLHCBJKBFEBJDLPDLDEEHKHCGDEOADFKEKBHFOMCFFMFJBOHOHAKOOMALJEIGALHOEDPMDBGMCPPNKEOACJOHJPBCEPCHHF',setCharAt:function(str,index,chr){if(index>str.length-1)return str;return str.substr(0,index)+chr+str.substr(index+1);},get_byte:function(str,i){var s=(i/16)|0;i=(i&15);s=s*32;return((str.charCodeAt(i+16+s)-65)<<4)|(str.charCodeAt(i+s)-65);},set_byte:function(str,i,b){var s=(i/16)|0;i=(i&15);s=s*32;str=f5_cspm.setCharAt(str,(i+16+s),String.fromCharCode((b>>4)+65));str=f5_cspm.setCharAt(str,(i+s),String.fromCharCode((b&15)+65));return str;},set_latency:function(str,latency){latency=latency&0xffff;str=f5_cspm.set_byte(str,40,(latency>>8));str=f5_cspm.set_byte(str,41,(latency&0xff));str=f5_cspm.set_byte(str,35,2);return str;},wait_perf_data:function(){try{var wp=window.performance.timing;if(wp.loadEventEnd>0){var res=wp.loadEventEnd-wp.navigationStart;if(res<60001){var cookie_val=f5_cspm.set_latency(f5_cspm.f5_p,res);window.document.cookie='f5avr1331073961aaaaaaaaaaaaaaaa_cspm_='+encodeURIComponent(cookie_val)+';path=/';}
return;}}
catch(err){return;}
setTimeout(f5_cspm.wait_perf_data,100);return;},go:function(){var chunk=window.document.cookie.split(/\s*;\s*/);for(var i=0;i<chunk.length;++i){var pair=chunk[i].split(/\s*=\s*/);if(pair[0]=='f5_cspm'&&pair[1]=='1234')
{var d=new Date();d.setTime(d.getTime()-1000);window.document.cookie='f5_cspm=;expires='+d.toUTCString()+';path=/;';setTimeout(f5_cspm.wait_perf_data,100);}}}}
f5_cspm.go();}());</script>